.LibraryContainer{
    display: flex;
    position: absolute;
    top: 3.5rem;
    background-color: rgb(10, 10, 10);
    width: 100vw;
    overflow-y: scroll;
}
.innerContainer{
    height: calc(100vh - 3.5rem);
    width: calc(100vw - 5rem);
    border-top: 2px solid rgb(128,128,128,0.45);
}
.container_libraryPage{
    border-bottom:1px solid grey ;
    padding: 1rem 2rem;
    color: aliceblue;
}
.title_container_LibraryPage{
    margin: 0.5rem 4rem;
}
.title_container_LibraryPage b{
    margin:  auto 0.5rem;
    padding:  auto 0.5rem;
    font-size: medium;
}
.container_videoList_LibraryPage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    /* max-height: 80vh; */
}